# SECURITY WARNING: keep the secret key used in production secret!
SECRET_KEY="yourpassword"

# SECURITY WARNING: don't run with debug turned on in production!
DEBUG=True

WEATHER_API_KEY="your_Key"
FORECAST_API_KEY="your_Key"
AIR_POLLUTION_API_KEY="your_Key"

SOCIAL_AUTH_GOOGLE_OAUTH2_KEY = "your_Key"
SOCIAL_AUTH_GOOGLE_OAUTH2_SECRET = "your_Secret_Key"

SOCIAL_AUTH_FACEBOOK_KEY = "your_Key"
SOCIAL_AUTH_FACEBOOK_SECRET = "your_Secret_Key"
