{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your HOT Weather App</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header class="header">
        <div class="container">
            <h1>Your HOT Weather App</h1>
        </div>
    </header>

    <nav class="navbar">
        <div class="container">
            <ul class="navbar-nav">
                <li><a href="#">Sign in</a></li>
                <li><a href="#">Sign up</a></li>
            </ul>
        </div>
    </nav>

    <main class="main">
        <div id="search-bar" class="container">
            <form method="get">
                {{ city_form }}
                <button type="submit">Search</button>
            </form>
        </div>

        {% if weather_data %}
        <div id="weather-info" class="container">
            <div id="weather" class="container">
                {% if weather_message %}
                    <p class="error-message">{{ weather_message }}</p>
                {% elif weather_data %}
                <h2>Weather Information for {{ weather_data.name }}</h2>
                <p>City: {{ weather_data.name }}, {{ weather_data.sys.country }}</p>
                <p>Coordinates: {{ weather_data.coord.lat }}, {{ weather_data.coord.lon }}</p>
                <p>Weather: {{ weather_data.weather.0.description }},
                    <img src="http://openweathermap.org/img/wn/{{ weather_data.weather.0.icon }}.png"
                         alt="Weather Icon"></p>
                <p>Temperature: {{ weather_data.main.temp }}°C</p>
                <p>Feels Like: {{ weather_data.main.feels_like }}°C</p>
                <p>Min Temperature: {{ weather_data.main.temp_min }}°C</p>
                <p>Max Temperature: {{ weather_data.main.temp_max }}°C</p>
                <p>Pressure: {{ weather_data.main.pressure }} hPa</p>
                <p>Humidity: {{ weather_data.main.humidity }}%</p>
                <p>Wind Speed: {{ weather_data.wind.speed }} m/s</p>
                <p>Wind Direction: {{ weather_data.wind.deg }}°</p>
                <p>Visibility: {{ weather_data.additional_info.visibility }} meters</p>
                <p>Cloudiness: {{ weather_data.additional_info.cloudiness }}%</p>
                <p>Sunrise: {{ weather_data.additional_info.sunrise }}</p>
                <p>Sunset: {{ weather_data.additional_info.sunset }}</p>
                <p>UV Index: {{ weather_data.additional_info.uvi }}</p>
                <p>Air Quality Index: {{ air_pollution_data.list.0.main.aqi }}</p>
                {% for pollution in air_pollution_data.list %}
                    <p>Air Quality Informations:</p>
                        <ul>
                            <li><p>CO: {{ pollution.components.co }}</p></li>
                            <li><p>NO: {{ pollution.components.no }}</p></li>
                            <li><p>NO2: {{ pollution.components.no2 }}</p></li>
                            <li><p>O3: {{ pollution.components.o3 }}</p></li>
                            <li><p>SO2: {{ pollution.components.so2 }}</p></li>
                            <li><p>PM2.5: {{ pollution.components.pm2_5 }}</p></li>
                            <li><p>PM10: {{ pollution.components.pm10 }}<p></li>
                            <li><p>NH3: {{ pollution.components.nh3 }}</p></li>
                        </ul>
                {% endfor %}
                <p>Rain (1h): {{ weather_data.additional_info.rain_1h }} mm</p>
                <p>Rain (3h): {{ weather_data.additional_info.rain_3h }} mm</p>
                <p>Snow (1h): {{ weather_data.additional_info.snow_1h }} mm</p>
                <p>Snow (3h): {{ weather_data.additional_info.snow_3h }} mm</p>
            {% endif %}
            </div>

            <div id="forecast" class="container">
                {% if forecast_data %}
                    <h2>Weather Forecast for {{ weather_data.name }}</h2>
                    <ul class="forecast-list">
                        {% for forecast in forecast_data.list %}
                            <li class="forecast-item">
                                <span class="forecast-time">{{ forecast.dt_txt }}</span>:
                                <span class="forecast-temperature">{{ forecast.main.temp }}°C</span>,
                                <span class="forecast-description">{{ forecast.weather.0.description }}</span>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
        </div>
        {% endif %}
    </main>
</body>
</html>