{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>WeatherApp</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'weather_app/img/favicon.png' %}" rel="icon">
  <link href="{% static 'weather_app/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'weather_app/vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'weather_app/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'weather_app/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'weather_app/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'weather_app/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'weather_app/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'weather_app/css/style.css' %}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: WeatherApp
  * Updated: Aug 30 2023 with Bootstrap v5.3.1
  ======================================================== -->
</head>

<body>



  <!-- ======= Header ======= -->
  <header id="header" class="d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

      <h1 class="logo"><a href="/">WeatherApp</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo"><img src="{% static 'weather_app/img/logo.png' %}" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto" href="/#search">Search</a></li>
          <li><a class="nav-link scrollto" href="/#services">Services</a></li>
          <li><a class="nav-link scrollto" href="/#cta">Team</a></li>
          {% if user.is_authenticated %}
          <li><a class="nav-link" href="/accounts">Dashboard</a></li>
          <li><a class="nav-link" href="/accounts/logout">Sign out</a></li>
          {% else %}
          <li><a class="nav-link" href="/accounts/logout">Sign in</a></li>
          {% endif %}
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <ol>
          <li><a href="/">Home</a></li>
          <li>Register</li>
        </ol>
        <h2>Logged out</h2>

      </div>
    </section><!-- End Breadcrumbs -->

    <section class="inner-page">
      <div class="container">

        {% block content %}
        <h1>Logged out</h1>
        <p>
            You have been successfully logged out.
            You can <a href="{% url 'login' %}">log-in again</a>.
        </p>
        {% endblock %}

      </div>
    </section>



  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-4 col-md-6">
            <div class="footer-info">
              <h3>WeatherApp</h3>

            </div>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="/">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/#search">Search</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/#services">Services</a></li>

            </ul>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="/air_pollution">Air Pollution</a></li>

            </ul>
          </div>



        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>GRUPA 3</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        Designed by <strong><span>Anna, Paweł and Denis</span></strong>.
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="{% static 'weather_app/vendor/aos/aos.js' %}"></script>
  <script src="{% static 'weather_app/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'weather_app/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'weather_app/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'weather_app/vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'weather_app/vendor/php-email-form/validate.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'weather_app/js/main.js' %}"></script>

</body>

</html>