{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>WeatherApp</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'weather_app/img/favicon.png' %}" rel="icon">
  <link href="{% static 'weather_app/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'weather_app/vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'weather_app/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'weather_app/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'weather_app/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'weather_app/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'weather_app/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'weather_app/css/style.css' %}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: WeatherApp
  * Updated: Aug 30 2023 with Bootstrap v5.3.1
  ======================================================== -->
</head>

<body>



  <!-- ======= Header ======= -->
  <header id="header" class="d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

      <h1 class="logo"><a href="/">WeatherApp</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo"><img src="{% static 'weather_app/img/logo.png' %}" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto" href="/#search">Search</a></li>
          <li><a class="nav-link scrollto" href="/#services">Services</a></li>
          <li><a class="nav-link scrollto" href="/#cta">Team</a></li>
          {% if user.is_authenticated %}
          <li><a class="nav-link" href="/accounts">Dashboard</a></li>
          <li><a class="nav-link" href="/accounts/logout">Sign out</a></li>
          {% else %}
          <li><a class="nav-link" href="/accounts/logout">Sign in</a></li>
          {% endif %}
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <ol>
          <li><a href="/">Home</a></li>
          <li>Air Pollution</li>
        </ol>
        <h2>Air Pollution</h2>

      </div>
    </section><!-- End Breadcrumbs -->

    <!-- Air Pollution Secion -->
    <section class="inner-page">
      <div class="container">
        <form method="POST">
          {% csrf_token %}
          {{ city_form }}
          <p>You can also search for a second city to compare pollution values.</p>
          <input type="submit" value="Submit">
        </form>

        {% if error %}
          <p>Error: {{ error }}</p>
        {% else %}

          {% if air_pollution_data %}
            <h2>Air Quality Informations</h2>
            <div style="display: flex; justify-content: space-between;">
                <div>
                    <h3>{{ city_name }}</h3>
                    {% for data in air_pollution_data %}
                        <p>{{ data.field_name|upper }}: {{ data.value }}
                            ({{ data.scale }}, {{ data.qualitative_name }})</p>
                    {% endfor %}
                </div>
            </div>
          {% endif %}

          {% if second_air_pollution_data %}
            <div style="display: flex; justify-content: space-between;">
              <div>
                <h3>{{ second_city_name }}</h3>
                  {% for data in second_air_pollution_data %}
                    <p>{{ data.field_name|upper }}: {{ data.value }}
                      ({{ data.scale }}, {{ data.qualitative_name }})</p>
                  {% endfor %}
              </div>
            </div>
          {% endif %}

          {% if second_air_pollution_data %}
            <h3>Comparison for both cities</h3>
              <table>
                <tr>
                  <th>Qualitative name</th>
                  <th>{{ city_name }}</th>
                  <th>{{ second_city_name }}</th>
                  <th>Comparison</th>
                </tr>
                  {% for data in air_pollution_data %}
                    <tr>
                      <td>{{ data.field_name|upper }}:</td>
                      <td>{{ data.value }} ({{ data.scale }}, {{ data.qualitative_name }})</td>
                      {% for second_data in second_air_pollution_data %}
                        {% if second_data.field_name == data.field_name %}
                          <td>{{ second_data.value }} ({{ second_data.scale }}, {{ second_data.qualitative_name }})</td>
                        {% endif %}
                      {% endfor %}
                      {% for comparison in comparison_data %}
                        {% if comparison.field_name == data.field_name %}
                          <td>{{ comparison.comparison }}</td>
                        {% endif %}
                      {% endfor %}
                    </tr>
                  {% endfor %}
              </table>
          {% endif %}
        {% endif %}

        <div>
            <h4>Descriptions</h4>
            <p><strong>Sulfur Dioxide (SO2):</strong>
                A colorless gas that is toxic and can cause respiratory problems.
                The scale ranges from 0 to 350 μg/m³, with lower values being better.
                The qualitative names for the index are: Good (0-20 μg/m³), Fair (20-80 μg/m³),
                Moderate (80-250 μg/m³), Poor (250-350 μg/m³), and Very Poor (⩾350 μg/m³).</p>
            <p><strong>Nitrogen Dioxide (NO2):</strong>
                A reddish-brown gas that is toxic and can cause respiratory problems.
                The scale ranges from 0 to 200 μg/m³, with lower values being better.
                The qualitative names for the index are: Good (0-40 μg/m³), Fair (40-70 μg/m³),
                Moderate (70-150 μg/m³), Poor (150-200 μg/m³), and Very Poor (⩾200 μg/m³).</p>
            <p><strong>Particulate Matter 10 (PM10):</strong>
                Coarse particles that are less than 10 micrometers in diameter.
                The scale ranges from 0 to 200 μg/m³, with lower values being better.
                The qualitative names for the index are: Good (0-20 μg/m³), Fair (20-50 μg/m³),
                Moderate (50-100 μg/m³), Poor (100-200 μg/m³), and Very Poor (⩾200 μg/m³).</p>
            <p><strong>Particulate Matter 2.5 (PM2.5):</strong>
                Fine particles that are less than 2.5 micrometers in diameter.
                scale ranges from 0 to 75 μg/m³, with lower values being better.
                The qualitative names for the index are: Good (0-10 μg/m³), Fair (10-25 μg/m³),
                Moderate (25-50 μg/m³), Poor (50-75 μg/m³), and Very Poor (⩾75 μg/m³).</p>
            <p><strong>Ozone (O3):</strong>
                A pale blue gas that is toxic and can cause respiratory problems.
                The scale ranges from 0 to 180 μg/m³, with lower values being better.
                The qualitative names for the index are: Good (0-60 μg/m³), Fair (60-100 μg/m³),
                Moderate (100-140 μg/m³), Poor (140-180 μg/m³), and Very Poor (⩾180 μg/m³).</p>
            <p><strong>Carbon Monoxide (CO):</strong>
                A colorless, odorless gas that is toxic to humans and animals.
                The scale ranges from 0 to 15400μg/m3, with lower values being better.
                The qualitative names for the index are: Good (0-4400μg/m3), Fair(4400-9400μg/m3),
                Moderate(9400-12400μg/m3) ,Poor(12400-15400μg/m3) and Very Poor(⩾15400μg/m3).</p>
          </div>




      </div>
    </section>
    <!-- End Air Pollution Section -->


  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-4 col-md-6">
            <div class="footer-info">
              <h3>WeatherApp</h3>

            </div>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="/">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/#search">Search</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/#services">Services</a></li>

            </ul>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="/air_pollution">Air Pollution</a></li>

            </ul>
          </div>



        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>GRUPA 3</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        Designed by <strong><span>Anna, Paweł and Denis</span></strong>.
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="{% static 'weather_app/vendor/aos/aos.js' %}"></script>
  <script src="{% static 'weather_app/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'weather_app/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'weather_app/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'weather_app/vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'weather_app/vendor/php-email-form/validate.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'weather_app/js/main.js' %}"></script>

</body>

</html>
