<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Weather App</title>
</head>
<body>
    <header>
        <h1>Weather App</h1>
    </header>

    <nav class="navbar">
        <div id="navbar-info" class="container">
            {% if user.is_authenticated %}
            <h3>Welcome, {{ user.username }}!</h3>
            {% else %}
            <h3>Welcome, Guest User!</h3>
            {% endif %}
        </div>
        <div id="navbar-sign" class="container">
            <ul class="navbar-nav">
                <li><a href="#">Sign in</a></li>
                <li><a href="#">Sign up</a></li>
            </ul>
        </div>
    </nav>

    <main>
        {% block content %}

        {% endblock %}
    </main>

    <footer>
        <p>© 2023 Weather App</p>
    </footer>
</body>
</html>
