{% extends 'base.html' %}

{% block content %}

    <div class="weather-and-forecast">
        <div class="form-wrapper">
            <form method="POST" class="form container">
                {% csrf_token %}
                {{ city_form.as_p }}
                <input type="submit" value="Submit">
            </form>
        </div>


        <div class="info-wrapper container">
            {% if error %}
                <p>Error: {{ error }}</p>
            {% else %}

                {% if weather_data %}
                    <!--    Weather details here    -->
                    <div class="weather">
                        <h2>Weather Informations</h2>
                        <p class="weather-date">{{ weather_data.time }}</p>
                        <h3 class="weather-country">{{ weather_data.name }}, {{ weather_data.country }}</h3>
                        <h2 class="weather-temp">
                            <img src="http://openweathermap.org/img/wn/{{ weather_data.weather_icon }}.png"
                                 alt="Weather Icon"></p> {{ weather_data.temperature }} °C
                        </h2>
                        <p class="weather-feels-like">
                            Feels like {{ weather_data.feels_like }} °C,
                            cloudiness {{ weather_data.cloudiness }}%,
                            {{ weather_data.weather_description }}.
                        </p>
                        <div class="weather-details">
                            <p>
                                {{ weather_data.wind_speed }}m/s
                                from {{ weather_data.wind_deg }} {{ weather_data.pressure }}hPa
                            </p>
                            <p>
                                Humidity: {{ weather_data.humidity }}
                                Visibility: {{ weather_data.visibility }}
                            </p>
                            <p>
                                Sunrise: {{ weather_data.sunrise }} Sunset: {{ weather_data.sunset }}
                            </p>
                        </div>
                    </div>
                {% endif %}

                {% if forecast_data %}
                    <!--    Forecast details Here   -->
                    <div class="forecast">
                        <h2>Forecast Informations</h2>
                        {% for date, forecasts in forecast_data.items %}
                            <!-- Use a div element for each day -->
                            <div class="forecast-day">
                                <h3 class="forecast-date">{{ date }}</h3>
                                <div class="forecast-details">
                                    {% for forecast in forecasts %}
                                        <p class="forecast-single">
                                            <strong>{{ forecast.time }}</strong><br/>
                                            <img src="http://openweathermap.org/img/wn/{{ forecast.weather_icon }}.png"
                                                 alt="Weather Icon"><br/>
                                            {{ forecast.temp_max }}°C/{{ forecast.temp_min }}°C<br/>
                                            {{ forecast.weather_description }}
                                        </p>
                                    {% endfor %}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
            {% endif %}
        </div>
    </div>

{% endblock %}
